:root {
  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 24px;
  --font-size-5: 36px;
  --font-family-inter: Inter, sans-serif;
  --font-family-body: var(--font-family-inter);
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-: 200;
  --line-height-s-0: AUTO;
  --line-height-s-1: 22px;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0px;
  --text-case-none: none;
  --text-decoration-none: none;
  --typography-h1-font-family: var(--font-family-inter);
  --typography-h1-font-weight: var(--font-weight-bold);
  --typography-h1-line-height: var(--lineheights-0);
  --typography-h1-font-size: var(--font-size-5);
  --typography-h1-letter-spacing: var(--letter-spacing-0);
  --typography-h1-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-h1-paragraph-indent: var(--paragraph-indent-0);
  --typography-h1-text-case: var(--text-case-none);
  --typography-h1-text-decoration: var(--text-decoration-none);
  --typography-h2-font-family: var(--font-family-inter);
  --typography-h2-font-weight: var(--font-weight-medium);
  --typography-h2-line-height: var(--lineheights-0);
  --typography-h2-font-size: var(--font-size-4);
  --typography-h2-letter-spacing: var(--letter-spacing-0);
  --typography-h2-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-h2-paragraph-indent: var(--paragraph-indent-0);
  --typography-h2-text-case: var(--text-case-none);
  --typography-h2-text-decoration: var(--text-decoration-none);
  --typography-h3-font-family: var(--font-family-inter);
  --typography-h3-font-weight: var(--font-weight-medium);
  --typography-h3-line-height: var(--lineheights-0);
  --typography-h3-font-size: var(--font-size-3);
  --typography-h3-letter-spacing: var(--letter-spacing-0);
  --typography-h3-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-h3-paragraph-indent: var(--paragraph-indent-0);
  --typography-h3-text-case: var(--text-case-none);
  --typography-h3-text-decoration: var(--text-decoration-none);
  --typography-h4-font-family: var(--font-family-inter);
  --typography-h4-font-weight: var(--font-weight-regular);
  --typography-h4-line-height: var(--lineheights-0);
  --typography-h4-font-size: var(--font-size-2);
  --typography-h4-letter-spacing: var(--letter-spacing-0);
  --typography-h4-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-h4-paragraph-indent: var(--paragraph-indent-0);
  --typography-h4-text-case: var(--text-case-none);
  --typography-h4-text-decoration: var(--text-decoration-none);
  --typography-body-font-family: var(--font-family-inter);
  --typography-body-font-weight: var(--font-weight-regular);
  --typography-body-line-height: var(--lineheights-0);
  --typography-body-font-size: var(--font-size-1);
  --typography-body-letter-spacing: var(--letter-spacing-0);
  --typography-body-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-body-paragraph-indent: var(--paragraph-indent-0);
  --typography-body-text-case: var(--text-case-none);
  --typography-body-text-decoration: var(--text-decoration-none);
  --typography-button-font-family: var(--font-family-inter);
  --typography-button-font-weight: var(--font-weight-regular);
  --typography-button-line-height: var(--lineheights-0);
  --typography-button-font-size: var(--font-size-1);
  --typography-button-letter-spacing: var(--letter-spacing-0);
  --typography-button-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-button-paragraph-indent: var(--paragraph-indent-0);
  --typography-button-text-case: var(--text-case-none);
  --typography-button-text-decoration: var(--text-decoration-none);
  --typography-caption-1-font-family: var(--font-family-inter);
  --typography-caption-1-font-weight: var(--font-weight-medium);
  --typography-caption-1-line-height: var(--lineheights-1);
  --typography-caption-1-font-size: var(--font-size-0);
  --typography-caption-1-letter-spacing: var(--letter-spacing-0);
  --typography-caption-1-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-caption-1-paragraph-indent: var(--paragraph-indent-0);
  --typography-caption-1-text-case: var(--text-case-none);
  --typography-caption-1-text-decoration: var(--text-decoration-none);
  --typography-caption-2-font-family: var(--font-family-inter);
  --typography-caption-2-font-weight: var(--font-weight-regular);
  --typography-caption-2-line-height: var(--lineheights-0);
  --typography-caption-2-font-size: var(--font-size-0);
  --typography-caption-2-letter-spacing: var(--letter-spacing-0);
  --typography-caption-2-paragraph-spacing: var(--paragraph-spacing-0);
  --typography-caption-2-paragraph-indent: var(--paragraph-indent-0);
  --typography-caption-2-text-case: var(--text-case-none);
  --typography-caption-2-text-decoration: var(--text-decoration-none);
}
